---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import farver from "../assets/images/01-farver.png";
import motiver from "../assets/images/02-motiver.png";
import strl from "../assets/images/03-strl.png";
import layout1 from "../assets/images/04-layout1.png";
import layout2 from "../assets/images/04-layout2.png";
import layout3 from "../assets/images/04-layout3.png";
import layout4 from "../assets/images/04-layout4.png";
---
<MainLayout title="Ford fejrer produktion af Mustang nummer 10 millioner">
	<article class="grid mx-auto container gap-8 pt-8 prose">
        <h1>Ford fejrer produktion af Mustang nummer 10 millioner</h1>


        <h2>Den første firesæders sportsvogn</h2>

        <p>
Ford jubler over produktionen af Mustang nummer 10 millioner

I 1960'erne begyndte Ford at udtænke en vision om en fire-personers sportsvogn, som senere skulle blive kendt som Mustang. I 1964 blev denne vision realiseret, og den første Ford Mustang rullede ud til de amerikanske forhandlere. På rekordtid blev Mustang et ikon.</p>


       <img src="/forside.jpg" alt="ford mustang">

        <hr>


          <h2>Den første million Ford Mustang</h2>

        <p>
          To år senere, i 1966, markerede Ford en milepæl, da de fejrede produktionen af den første million Ford Mustangs, som spredte sig som en legendarisk fænomen på tværs af Amerika.
        </p>


      <img src="/old.jpg" alt="gammel ford mustang">

        <hr>

        <h2>Produktionen af model nummer 10 millioner, 50 år efter</h2>

        <p>
I anledning af 50-års jubilæet kunne Ford endnu engang fejre en bemærkelsesværdig milepæl: produktionen af Mustang nummer 10 millioner. På fabrikken i Flat Rock, Michigan, blev denne begivenhed hædret med overflyvninger af de ikoniske P-51 Mustang kampfly fra 2. Verdenskrig.        </p>

    
       <img src="/hey.jpg" alt="ny ford mustang">

        <hr>
        <h2>Blev fejret med overflyvninger af Mustang kampfly fra 2. Verdenskrig</h2>

        <p>
            På Fords fabrik i Flat Rock, Michigan, blev Ford Mustang nummer 10 millioner fejret med manér. Fejringen inkluderede blandt andet overflyvninger i de historiske kampfly P-51 Mustang fra anden verdenskrig.
        </p>

		
           <img src="/okay.jpg" alt="kampfly mustang">

        
        <hr>

        <h3>”Ford Mustang er vores virksomheds hjertebarn og en favorit i hele verden,” fortæller Jim Farley, President of Global Markets, Ford Motor Company.</h3>

        <hr>

           <h2>Model nr. 10 million</h2>

        <p>
Den 10 millioner Mustang er en topmoderne 460 hestekræfters GT V8 Convertible i Wimbledon White med en sekstrins manuel gearkasse og Fords nyeste førerassistanceteknologier.
        </p>


       <img src="/hej.jpg" alt="fordi mustang rød">

        <hr>

        <h2>Atletisk udseende og luksuriøs kabine</h2>

        <p>
Den seneste inkarnation af Mustang byder på et atletisk design, en luksuriøs kabine med bløde materialer og et imponerende 12” digitalt instrumentpanel.


    
    <img src="/kabine.jpg" alt="inde i en ford mustang">

        <hr>
        <h2>0-100 km/t på 4,3 sekunder!</h2>

        <p>
Under hjelmen brøler Fords 5.0-liters V8-motor, som nu yder 450 hestekræfter, og den nyudviklede ti-trins automatgearkasse sikrer en imponerende acceleration fra 0-100 km/t på kun 4,3 sekunder.


		
 <img src="/sejt.jpg" alt="hurtig ford mustang">

        
        <hr>

           <h2>Ford Mustang BULLITT</h2>

        <p>
Ford fortsætter fejringen med lanceringen af Ford Mustang BULLITT, en særlig udgave skabt til at ære 50-års jubilæet for den legendariske film af samme navn.
		 </p>
<img src="/new.jpg" alt="bullit fird mustang">

        
        <hr>

    </article>
</MainLayout>